<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Floyd's Printing and Engraving (FPE)</title>

    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/css/starter-template.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">WSC</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li @{ if ( ViewBag.visible == 1) {
                                @:class="active"          
                              } 
                        }>
                        <a href="/User/Index">Order</a>
                    </li>
                    <li@{ if ( ViewBag.visible == 2) {
                                @:class="active"          
                              } 
                        }>
                         @{
                            if (Session["id"] != null) {
                                @:<a href="/User/TotalOrders">My Orders</a>
                            }                                
                        }
                    </li>
                    <li@{ if ( ViewBag.visible == 3) {
                                @:class="active"          
                              } 
                        }>
                        @{
                            if (Session["id"] != null) {
                                @:<a href="/User/Setting">Setting</a>
                            }                                
                        }
                        
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @{
                            if (Session["id"] != null) {
                                @:<a href="/Login/Logout"><span class="glyphicon glyphicon-user"></span><label> &nbsp;Logout</label></a>
                            }
                            else {
                                @:<a href="/Login"><span class="glyphicon glyphicon-user"></span><label> &nbsp;Login</label></a>
                            }                                   
                        }
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    <div class="container">
        <div class="starter-template">
            <h1>Floyd's Printing and Engraving (FPE)</h1>
            <p class="lead">Floyd's Printing and Engraving (FPE) is a small print and engraving organization.&nbsp;<br></p>
        </div>
    </div>
    @{
        if ( Session["id"] != null)
        {
            <div class="container" data-pg-collapsed>
                <div class="row">
                    <div class="col-sm-12">
                        <h2>Hello, <strong>@Session["firstname"]</strong></h2>
                        <hr>
                    </div>
                </div>
            </div>
            
        }
    }
    

    <!-- Rending Changed Portion Here -->
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

    <!-- /.container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>
        function update() {
            var id = $('#updateUserId').val();
            var firstname = $('#updateUserFirstName').val();
            var lastname = $('#updateUserLastName').val();
            var email = $('#updateUserEmail').val();
            var password = $('#updateUserPassword').val();
            var confirmpasword = $('#updateUserConfirmPassword').val();

            if (password != confirmpasword) {
                alert("Password Mismatch");
            } else {
                $.getJSON("/Login/UpdateUser?id=" + id + "&firstname=" + firstname + "&lastname=" + lastname + "&email=" + email + "&password=" + password, function (data) {
                    if (data == "success") {
                        window.location.href = "/User/Setting";
                    } else {
                        alert("Failed To Update");
                    }
                });
            }
        }
        function AddOrder() {
            var jobType = $('#typeOfJob').val();
            var media = $('#media').val();
            var mediaCatalog = $('#mediaCatalogueNumber').val();
            var content = $('#content').val();

            $.getJSON("/User/AddOrder?job=" + jobType + "&media=" + media + "&mediaCatalog=" + mediaCatalog + "&content=" + content, function (data) {
                if (data == "success") {
                    window.location.href = "/User/Index";
                    alert("Order added successfully, Click My Orders above");
                } else {
                    alert("Failed To Update");
                }
            });
        }
    </script>
</body>
</html>
